<header>
<nav class="navbar navbar-default">
<div class="container-fluid">
	<div class="navbar-header">
		<h3 class="fonte-branca"><%= metas[0].siglaUnidade %>&nbsp- <%= metas[0].nomeUnidade %>:</h3>
    	<h3 class="fonte-branca"></h3>
	</div>
	
	<ul class="nav navbar-nav">
		<li><h3 class="fonte-branca"><%= metas[0].pontuacao %> pontos!</h3></li>
	</ul>

  <ul class="nav navbar-nav navbar-right">
  	<li><h3><a href='/sobre' class="fonte-branca">Sobre</a></h3></li>
    <li><h3><a href='/sair' class="fonte-branca">Sair</a></h3></li>
  </ul>
</div>
</nav>
</header>