<header>
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
	<div class="navbar-header">
		<h3 class="fonte-branca"><%= metas[0].siglaUnidade %> - </h3>
		<h3 class="fonte-branca"></h3>
	</div><!--navbar-header -->
	
	<ul class="nav navbar-nav">
		<li><h3 class="fonte-branca"><%= metas[0].nomeUnidade %>:</h3></li>
	</ul>
	
	<ul class="nav navbar-nav">
		<li><h3 class="fonte-branca"><%= metas[0].pontuacao %> pontos!</h3></li>
	</ul>

  <ul class="nav navbar-nav navbar-right">
  	<li><h3><a href="http://goo.gl/forms/2qcAMoi0to" class="fonte-branca" target="_blank">Questionário</a></h3></li>
  	<li><h3><a href='/sobre' class="fonte-branca">Sobre</a></h3></li>
    <li><h3><a href='/sair' class="fonte-branca">Sair</a></h3></li>
  </ul>
</div> <!-- container-fluid -->
</nav>
</header>