<% include header %>
<header>
	<h1> GPJ Caxias-MA </h1>
	<h4> Infelizmente esta página não existe :( </h4>
</header>
<hr>
<p> Vamos voltar para a <a href="/">página inicial?</a> :)</p>
<% include footer %>