<% include header %>
<header>
	<h1>GPJ Caxias-MA </h1>
	<h4>Aconteceu algo terrível! O_O</h4>
<header>
<p> 
	Veja detalhes do erro:
	<br>
	<%- error.message %>
</p>
<hr>
<p> Que tal voltar para a <a href="/">página inicial?</a> :)</p>
<% include footer %>