<% include ../header %>

<header>
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
	<div class="navbar-header">
		<h3 class="fonte-branca">Sobre</h3>
    	<h3 class="fonte-branca"></h3>
	</div>
	
	<ul class="nav navbar-nav">
	</ul>

  <ul class="nav navbar-nav navbar-right">
  	<li><h3><a href="javascript:window.history.go(-1)" class="fonte-branca">Voltar</a></h3></li>
    <li><h3><a href='/sair' class="fonte-branca">Sair</a></h3></li>
  </ul>
</div>
</nav>
</header>

<div class="col-lg-offset-1 col-lg-10">
<div class="jumbotron">
<div class="container">
<center>
<h1>Trabalho de Conclusão de Curso</h1>
<h3>Por João Vagner de Alencar Sampaio</h3>
</center>
<br>

<h2>1 - Tema </h2>
<p align="justify">Sistema Gamificado para a Produção Judiciária do Fórum da Comarca de Caxias – Maranhão.</p>
<br>

<h2>2 - Objetivos</h2>
<h3>2.1 - Objetivo Geral</h3>
<p align="justify">Implementar elementos de jogos no controle e relatórios das metas da Gratificação de Produtividade Judiciária do Fórum da Comarca de Caxias – MA.</p>
<br>

<h3>2.2 - Objetivos Específicos</h3>
<p align="justify">Engajar funcionários na sua rotina diária através de elementos motivacionais dos jogos.</p>
<p align="justify">Desenvolver um sistema de Feedback constante e efetivo a ser implantado no lugar dos atuais relatórios trimestrais.</p>
<p align="justify">Tornar a rotina de trabalho mais divertida, melhorando assim o clima organizacional do Fórum da Comarca de Caxias.</p>
<br>

<h2>3 - Justificativa</h2>
<p align="justify">
A escolha de desenvolvimento de um sistema gamificado para a produção judiciária do Fórum da Comarca de Caxias-MA tem em vista a melhoria da produtividade dos funcionários desta Comarca, através da implantação de elementos de jogos no controle das atividades administrativas e judiciárias, incentivando o cumprimento das metas especificadas para cada secretaria do Fórum.
</p>
<br>

<h2>4 - Uma breve introdução</h2>
<p align="justify">
A criação de Sistemas Gamificados, ou simplesmente chamado de "Gamificação" (do inglês Gamification), é uma atividade contemporânea, porém a educação já vem colhendo os frutos do uso dos jogos na didática de ensino há bastante tempo, antes mesmo do surgimento da Informática, através de diversos jogos educativos (Educational Games) ou jogos de aprendizagem (Learning Games). Outros exemplos de gamificação que podemos citar são os jogos sérios (Serious Games) e os jogos propaganda (Advergames).
</p>
<p align="justify">
A Gamificação de Empresas é o termo mais atual e subdivide-se em dois focos, a gamificação para clientes ou externa, que busca da fidelização destes e a gamificação para o trabalho ou interna, que busca maior engajamento dos seus colaboradores, este último é o tema do projeto desenvolvido.
Dos elementos disponíveis em jogos para utilização na gamificação, foram escolhidos inicialmente: 
</p>
<ul>
	<li><p align="justify">Relatórios sempre atualizados: um sistema que permita a geração de relatórios com os dados mais atuais, torna o acompanhamento das atividades da GPJ mais transparente e animadora;</p></li>
	<li><p align="justify">Medalhas: permite o reconhecimento e destaque das secretarias mais dedicadas, valorizando o trabalho da equipe;</p></li>
	<li><p align="justify">Metas tangíveis: já existem metas para serem atendidas até o final do corrente ano, porém não existem metas mensais, semanais. O ato de dividir uma tarefa macro em várias tarefas menores ajuda os usuários do sistema a perceberem de forma mais transparente e em menor período de tempo, através de um feedback constante, se estão no ritmo certo ou se precisam acelerar o passo;</p></li>
	<li><p align="justify">Ranking: um sistema de ranking estimula a competitividade e colaboração, através de uma rede social adaptada para os objetivos da empresa, procura-se estimular a competitividade positiva entre as secretarias pela melhor posição, e a maior colaboração entre os funcionários de cada equipe.</p></li>
</ul>
<p align="justify">
As metas de produtividade da GPJ (Gratificação de Produtividade Judiciária) do ano de 2015 foram as escolhidas para serem gamificadas, esta gratificação anual foi inserida no Tribunal de Justiça do Estado do Maranhão no ano de 2011, através da lei 9.326 de 30 de dezembro de 2010. Esta lei sanciona a concessão da GPJ e exige a fixação prévia de metas que, para o corrente ano, foram dispostas na Portaria-GP - 10322014 e seus Anexos I e II.
</p>
<br>


</div>
</div>

<p>Deseja saber Mais sobre Gamificação? Assista abaixo alguns vídeos para melhor entendimento:</p>
<br>
<div class="col-lg-6">
<iframe src="http://olhardigital.uol.com.br/embed/43964/43964" frameborder="no" scrolling="no" width="560" height="315"></iframe>
<p>Fonte: <a href="http://olhardigital.uol.com.br/video/entenda-como-funciona-a-gamificacao-nas-empresas/43964" target="_blank">Olhar Digital</a>.</p>
</div>

<div class="col-lg-6">
<iframe width="560" height="315" src="https://www.youtube.com/embed/TfUrnIN35Oo" frameborder="0" allowfullscreen></iframe>
<p>Fonte: <a href="https://www.youtube.com/watch?v=TfUrnIN35Oo" target="_blank">Canal do MJV Tecnologia e Inovação no YouTube</a>.</p>
</div>

<div class="col-lg-6">
<iframe width="560" height="315" src="https://www.youtube.com/embed/ClIJEUat_CY" frameborder="0" allowfullscreen></iframe>
<p>Fonte: <a href="https://www.youtube.com/watch?v=ClIJEUat_CY" target="_blank">Canal do Sistema FIRJAN no YouTube</a>.</p>
</div>

<div class="col-lg-6">
<iframe width="560" height="315" src="https://www.youtube.com/embed/4cYVXhJk4tw" frameborder="0" allowfullscreen></iframe>
<p>Fonte: <a href="https://www.youtube.com/watch?v=4cYVXhJk4tw" target="_blank">Canal do Funifier Gamification Platform no YouTube</a>.</p>
</div>

</div>
<% include ../footer %>