<% include ../header %>

<header>
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
	<div class="navbar-header">
		<h3 class="fonte-branca">Sobre</h3>
    	<h3 class="fonte-branca"></h3>
	</div>
	
	<ul class="nav navbar-nav">
	</ul>

  <ul class="nav navbar-nav navbar-right">
  	<li><h3><a href="http://goo.gl/forms/2qcAMoi0to" class="fonte-branca" target="_blank">Questionário</a></h3></li>  
  	<li><h3><a href="javascript:window.history.go(-1)" class="fonte-branca">Voltar</a></h3></li>
    <li><h3><a href='/sair' class="fonte-branca">Sair</a></h3></li>
  </ul>
</div>
</nav>
</header>



<div class="col-lg-offset-1 col-lg-10">
<div class="jumbotron">
<div class="container">
<center>
<h1>Trabalho de Conclusão de Curso</h1>
<h3>Por João Vagner de Alencar Sampaio</h3>
</center>
<br>

<h2>1 - Tema </h2>
<p align="justify">Gamificação da produtividade do Fórum da Comarca de Caxias – Maranhão</p>
<br>

<h2>2 - Introdução</h2>
<p align="justify">
A morosidade processual sempre foi um dos temas mais criticados da Justiça brasileira. Na tentativa de reverter esse quadro o Conselho Nacional de Justiça (CNJ) criou metas a serem cumpridas pelos Tribunais de todo o território nacional, com objetivo de que a maquina judiciária se torne produtiva e que essa morosidade seja reduzida ao máximo. Para incentivar ainda mais essa produtividade desejada, o Governo do Estado do Maranhão implantou uma Gratificação de Produtividade Judiciária (GPJ) pelo alcance de metas de produtividade fixadas pelo Tribunal de Justiça a partir das metas definidas pelo CNJ.
</p>
<p align="justify">
Ainda assim, segundo o Relatório Anual da Ouvidoria do CNJ (ano base 2014), o tema morosidade processual figura em primeiro lugar, representando absurdos 46,98% das 18.377 manifestações recebidas, enquanto que no segundo lugar, com apenas 4,05% das reclamações, ficaram os relatos de decisão judicial, e em terceiro, figuram as demandas alheias à competência do Conselho Nacional de Justiça, com 3,74%. O Estado do Maranhão é o quarto colocado na lista de estados com maior percentual de demandas referentes à morosidade processual, essa reclamação foi ouvida em 55,36% das 336 reclamações contra o Poder Judiciário Maranhense.
</p>
<p align="justify">
Com os dados do Relatório da Ouvidoria do CNJ, percebe-se que o atual método de incentivo ao atingimento das metas não está dando certo, é preciso otimizar a estratégia! Na busca por possíveis soluções, surgiu um conceito ainda novo, mas que já está se tornando cada vez mais popular em diversos ambientes: a Gamificação.
</p>
<p align="justify">
Gamificação, (do inglês Gamification), se refere ao uso de elementos de games (jogos) em atividades que não sejam somente para entretenimento, ou seja, é a atividade de utilizar elementos de jogos em qualquer outro contexto que não apenas para diversão.
</p>
<p align="justify">
A gamificação de empresas é o termo mais atual e subdivide-se em três focos principais: a gamificação externa, que busca da fidelização ou aquisição de novos clientes; a gamificação interna, voltada para os recursos humanos dentro da organização, a fim de gerar aumento da produtividade, estimular um banco de ideias ou, solucionar outros problemas; e a gamificação de mudança de comportamento, que procura desenvolver novos hábitos em uma população, como encorajar pessoas a melhorar alimentação, saúde e bem-estar, equilibrar finanças, cuidar do meio ambiente, comportamento no transito, entre outros.
</p>
<p align="justify">
Foi com o conceito da gamificação de empresas em mente que foi concebido o trabalho aqui presente. Com foco em melhorar o engajamento dos funcionários na produtividade das metas da GPJ, foi criada a Gamificação da produtividade do Fórum da Comarca de Caxias, localizado no Estado do Maranhão. Vale ressaltar que, na gamificação do Sistema aqui proposto, não existe o intuito de desenvolver um jogo completo, ele apenas utiliza-se de alguns elementos de jogos para serem acrescentados em um serviço.
</p>
<br>

<h2>3 - Problema</h2>
<p align="justify">
A morosidade processual continua sendo o maior motivo de reclamações por parte dos cidadãos em relação ao Poder Judiciário Nacional. Incentivos tem sido criados, porém o número de processos judiciais crescem a cada ano e os funcionários da justiça não conseguem acompanhar a demanda pois, além de estarem, muitas vezes, sobrecarregados, não recebem incentivos adequados para manter um ritmo de trabalho mais produtivo. Estes fatores contribuem para a morosidade da máquina judiciária, aumentando ainda mais o número de processos que aguardam para serem julgados.
</p>
<br>


<h2>4 - Objetivos</h2>
<h3>4.1 - Objetivo Geral</h3>
<p align="justify">Implementar elementos de jogos nos relatórios de acompanhamento de produtividade das metas, das Unidades Administrativas e Judiciais, do Fórum da Comarca de Caxias, Maranhão.</p>
<br>

<h3>4.2 - Objetivos Específicos</h3>
<p align="justify">Engajar funcionários da Comarca de Caxias na sua rotina diária, através de elementos motivacionais dos jogos.</p>
<p align="justify">Melhorar e ampliar o sistema de feedback dos atuais relatórios emitidos pelo Tribunal de Justiça do Maranhão.</p>
<p align="justify">Permitir que os funcionários do Fórum de Caxias possam visualizar de forma mais nítida o progresso das suas Unidades nas metas da GPJ.</p>
<br>

<h2>4 - Justificativa</h2>
<p align="justify">
O presente projeto justifica-se pela necessidade de novos métodos de incentivo para a produtividade judiciária, reduzindo assim a morosidade processual. 
</p>

<p align="justify">
A escolha de desenvolvimento da Gamificação da produtividade do Fórum da Comarca de Caxias, do Estado do Maranhão, visa aumentar o engajamento dos funcionários do órgão, através da implantação de elementos de jogos no relatório de acompanhamento da produtividade das metas administrativas e judiciárias. Metas que devem ser atingidas para ganhar uma Gratificação de Produtividade Judiciária (GPJ) ao final do ano de apuração e, por consequência, diminuir o nível de morosidade processual da Comarca de
Caxias.
</p>
<br>

</div>
</div>

<div class="jumbotron">
<div class="container">
<center>
<h1>Sistema de Pontos</h1>
</center>
<br>
<p align="justify">A criação do sistema de cálculo de pontos para o GPJ Caxias-MA foi pensada cuidadosamente, sabendo que a pontuação do sistema precisa ser justa para todas as Unidades participantes das metas da GPJ 2015 do Fórum de Caxias.
A seguinte <a href="Calculo Pontos GPJ.xlsx">Planilha do Excel</a> foi criada para exemplificar como os pontos são calculados pelo Sistema.
</p>
<br>
</div>
</div>




<p>Deseja saber Mais sobre Gamificação? Assista abaixo alguns vídeos para melhor entendimento:</p>
<br>
<div class="col-lg-6">
<iframe src="http://olhardigital.uol.com.br/embed/43964/43964" frameborder="no" scrolling="no" width="560" height="315"></iframe>
<p>Fonte: <a href="http://olhardigital.uol.com.br/video/entenda-como-funciona-a-gamificacao-nas-empresas/43964" target="_blank">Olhar Digital</a>.</p>
</div>

<div class="col-lg-6">
<iframe width="560" height="315" src="https://www.youtube.com/embed/TfUrnIN35Oo" frameborder="0" allowfullscreen></iframe>
<p>Fonte: <a href="https://www.youtube.com/watch?v=TfUrnIN35Oo" target="_blank">Canal do MJV Tecnologia e Inovação no YouTube</a>.</p>
</div>

<div class="col-lg-6">
<iframe width="560" height="315" src="https://www.youtube.com/embed/ClIJEUat_CY" frameborder="0" allowfullscreen></iframe>
<p>Fonte: <a href="https://www.youtube.com/watch?v=ClIJEUat_CY" target="_blank">Canal do Sistema FIRJAN no YouTube</a>.</p>
</div>

<div class="col-lg-6">
<iframe width="560" height="315" src="https://www.youtube.com/embed/4cYVXhJk4tw" frameborder="0" allowfullscreen></iframe>
<p>Fonte: <a href="https://www.youtube.com/watch?v=4cYVXhJk4tw" target="_blank">Canal do Funifier Gamification Platform no YouTube</a>.</p>
</div>

</div>
<% include ../footer %>