<% include ../header %>
<header class="text-center">
<div class="container-fluid">
<div class="row">
<div class="col-md-6 col-md-offset-3">
	<h1>GPJ Caxias-MA</h1>
	<h3>Bem-vindo!</h4>
</div>
</div>
  <hr>
</div>
</header>

<section>
<div class="row">
<div class="col-md-offset-4 col-md-4">
<div class="well bs-component">
	<form class="form-horizontal" action="/entrar" method="post">
		<legend>Entre com a Unidade e a Senha</legend>
		<div class="form-group">
			<label for="login" class="col-lg-2 control-label">
				Login
			</label>
			<div class="col-lg-10">
				<input class="form-control" id="login" 
					type="text" name="unidade[login]" 
					placeholder="Login">
			</div>
		</div>
		<div class="form-group">
			<label for="senha" class="col-lg-2 control-label">
				Senha
			</label>
			<div class="col-lg-10">
				<input class="form-control" id="senha" 
					type="password" name="unidade[senha]" 
					placeholder="Senha">
			</div>
		</div>
		<div class="form-group">
      	<div class="col-lg-10 col-lg-offset-2">
			<button class="btn btn-primary" type="submit">
				Entrar
			</button>
		</div>
		</div>
	</form>
</div>
</div>
</div>
</section>
<% include ../footer %>