<% include ../header %>
<header>
	<h1>GPJ Caxias-MA</h1>
	<h4>Bem-vindo!</h4>
</header>
<section>
	<form action="/entrar" method="post">
		<input type="text" name="unidade[login]" placeholder="Login">
		<br>
		<input type="password" name="unidade[senha]" placeholder="Senha">
		<br>
		<button type="submit">Entrar</button>
	</form>
</section>
<% include ../footer %>