<% include ../header %>
<header>
	<h1>GPJ Caxias<h1>
	<!-- recebe o unidade.login do controller/home.js após o login --> 
	<h4> Unidade logada: <%- element.idUnidade %></h1>
</header>
<section>
	<br>
	<p> aqui ficarão os gráficos </p>
	<br>
<section>
<% include ../exit %>
<% include ../footer %>