<% include ../header %>
<header>
	<h1>GPJ Caxias<h1>
	<!-- recebe o unidade.login do controller/home.js após o login --> 
	<h4> Unidade logada: <%- unidade.login %></h1>
</header>
<section>
	<p> aqui ficarão os gráficos </p>
<section>
<% include ../exit %>
<% include ../footer %>